
.footer {
    background-color: #dbdaff88;
    border: 1px solid #ffffff;
    border-radius: 20px;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
}

.footer-content {
    max-width: 1000px;
    margin: 0 auto;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin: 0 10px;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}
